
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --bg-color: #1b1f24;
  --second-bg-color: #22282f;
  --main-color: #8bc7f3;
  --other-color: #abcbe3;
  --h1-font: 4.5rem;
  --h2-font: 2.9rem;
  --p-font: 1rem;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.skills-container {
  padding: 100px 8% 100px;
  height: auto;
  width: 100%;
  animation: fadeInUp 1s ease-in-out;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  font-size: var(--h2-font);
}

.center-text span {
  color: var(--main-color);
}

.skill-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 4.2rem;
}

.tech-box {
  padding: 10px 15px 10px;
  margin: 10px;
  background: #2d343f;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  transition: all .50s ease;
  cursor: pointer;
  animation: scaleUp 0.5s ease-in-out;
}

.tech-box:hover {
  box-shadow: 0 0 10px var(--main-color);
  transform: translateY(-5px) scale(1.03);
}

.tech-box img {
  width: fit-content;
  max-width: 100px;
  max-height: 100px;
}
